
<title>{{ 'adress' | translate }}</title>
<div class="container">
    <div ng-controller="homeCtrl">
        <center><h2>{{ 'adress' | translate }}</h2></center>
        <h1>
            {{'language' | translate}}:
            <button class="btn btn-primary" data-toggle="button" ng-click="changeLanguage('ru')">Русский</button>
            <button class="btn btn-primary" data-toggle="button" ng-click="changeLanguage2('en')">English</button><br />
        </h1>
        <table id="entry-grid" datatable="" dt-options="dtOptions"
               dt-columns="dtColumns" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ 'Id' | translate }}</th>
                    <th>{{ 'Country' | translate }}</th>
                    <th>{{ 'City' | translate }}</th>
                    <th>{{ 'Street' | translate }}</th>
                    <th>{{ 'House' | translate }}</th>
                    <th>{{ 'Index' | translate }}</th>
                    <th>{{ 'Date' | translate }}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

